In [3]:
%pip install pandas numpy

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy
  Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------ --------------------------------- 10.2/61.0 kB ? eta -:--:--
     -------------------------------------- 61.0/61.0 kB 806.3 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bhimc\anaconda3\envs\venv_alice\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\bhimc\anaconda3\envs\venv_alice\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.2/11.5 MB 5.3 MB/s eta 0:00:03
   - -------------------------------------- 0.4/11.5 MB 5.3 MB/s eta 0:00:03
   -- ------------------------------------- 0.7/11.5 MB 5.2 MB/s eta 0:00:03
   --- ------------------------------------ 0.9/11.5 MB 5.4 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/11.5 MB 5.6 MB/s eta 0:00:02
   ----- ---------------------------------- 1.6/11.5 MB 6.2 MB/s eta 0:00:02
   ------ --------------------------------- 2.0/11.5 MB 6.2 MB/s eta 0:00:02
   ------- -------------------------------- 2.0/11.5 MB 5.6 MB/s eta 0:00:02
   -------- ------------------------------- 2.4/11.5 MB 5.8 MB/s eta 0:00:02
   --------- ------------------------------ 2.8/11.5 MB 6.1 MB/s eta 0:00:02
   ---------- ----------------------------- 3.0/11.5 MB 6.4 MB/s eta 0:00:02
   ------------ --------------------------- 3.6/11.5 MB 6.5 MB/s eta 0:00:02
   ------------- -------------------------- 3.9/11.5 MB 6.6 MB/s eta 0:00:02
   --------------- ------------------------ 4.4/11.5 MB 6.8 MB/s eta 0:00:02
   ---------------- ----------------------- 4.8/11.5 MB 7.0 MB/s eta 0:00:01
   ------------------ --------------------- 5.4/11.5 MB 7.4 MB/s eta 0:00:01
   --------------------- ------------------ 6.2/11.5 MB 7.9 MB/s eta 0:00:01
   ------------------------ --------------- 6.9/11.5 MB 8.4 MB/s eta 0:00:01
   --------------------------- ------------ 7.8/11.5 MB 8.9 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.5 MB 9.5 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 9.7 MB/s eta 0:00:01
   ------------------------------------ --- 10.4/11.5 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.5 MB 12.1 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 11.5 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   -- ------------------------------------- 1.1/15.5 MB 22.7 MB/s eta 0:00:01
   ----- ---------------------------------- 2.3/15.5 MB 24.1 MB/s eta 0:00:01
   -------- ------------------------------- 3.5/15.5 MB 24.6 MB/s eta 0:00:01
   ----------- ---------------------------- 4.6/15.5 MB 24.6 MB/s eta 0:00:01
   -------------- ------------------------- 5.8/15.5 MB 24.8 MB/s eta 0:00:01
   ----------------- ---------------------- 6.9/15.5 MB 24.6 MB/s eta 0:00:01
   -------------------- ------------------- 8.1/15.5 MB 24.5 MB/s eta 0:00:01
   ----------------------- ---------------- 9.2/15.5 MB 24.5 MB/s eta 0:00:01
   -------------------------- ------------- 10.3/15.5 MB 25.2 MB/s eta 0:00:01
   ----------------------------- ---------- 11.4/15.5 MB 25.2 MB/s eta 0:00:01
   -------------------------------- ------- 12.5/15.5 MB 24.3 MB/s eta 0:00:01
   ----------------------------------- ---- 13.6/15.5 MB 23.4 MB/s eta 0:00:01
   ------------------------------------- -- 14.7/15.5 MB 23.4 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 21.1 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 33.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 20.9 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [6]:
data = pd.DataFrame({"Name": ['Aragorn', 'Boromir', 'Frodo','Galadriel'],
                     "Race": ["human", "human", "hobbit", "elf"],
                     "Age": [88,41,51,8382]})

In [8]:
data

        Name    Race   Age
0    Aragorn   human    88
1    Boromir   human    41
2      Frodo  hobbit    51
3  Galadriel     elf  8382

In [11]:
data divide(row):
        result = row['Age']/10
        return result

data['age_valinor'] = data.apply(divide, axis=1)

data

SyntaxError: invalid syntax (1739697623.py, line 1)

In [12]:
import pandas as pd

In [13]:
data divide(row):
        result = row['Age']/10
        return result

data['age_valinor'] = data.apply(divide, axis=1)

data

SyntaxError: invalid syntax (1739697623.py, line 1)

In [14]:
def divide(row):
    result = row['Age'] / 10
    return result

In [15]:
# Apply the division directly using a lambda function
data['age_valinor'] = data['Age'] / 10

print(data)

        Name    Race   Age  age_valinor
0    Aragorn   human    88          8.8
1    Boromir   human    41          4.1
2      Frodo  hobbit    51          5.1
3  Galadriel     elf  8382        838.2

In [16]:
divide_2 = lambda x: x/10
divide_2(data['Age'])

0      8.8
1      4.1
2      5.1
3    838.2
Name: Age, dtype: float64

In [17]:
data['age_2'] = divide_2(data['Age'])

data

        Name    Race   Age  age_valinor  age_2
0    Aragorn   human    88          8.8    8.8
1    Boromir   human    41          4.1    4.1
2      Frodo  hobbit    51          5.1    5.1
3  Galadriel     elf  8382        838.2  838.2

In [18]:
data['age_3'] = data['Age'].apply(lambda x: x/10)

data

        Name    Race   Age  age_valinor  age_2  age_3
0    Aragorn   human    88          8.8    8.8    8.8
1    Boromir   human    41          4.1    4.1    4.1
2      Frodo  hobbit    51          5.1    5.1    5.1
3  Galadriel     elf  8382        838.2  838.2  838.2

In [19]:
data['age_label_2'] = data['Age'].apply(
lambda x:  'elven old' if x > 500 else ('middle-aged' if x >=100 else 'young'))

In [20]:
data

        Name    Race   Age  age_valinor  age_2  age_3 age_label_2
0    Aragorn   human    88          8.8    8.8    8.8       young
1    Boromir   human    41          4.1    4.1    4.1       young
2      Frodo  hobbit    51          5.1    5.1    5.1       young
3  Galadriel     elf  8382        838.2  838.2  838.2   elven old